{% extends "chief/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load deploy_tags %}


{% block js %}{{ block.super }}
<script src="{% static 'chief/js/chief.js' %}"></script>
{% endblock %}

{% block js-inline %}{{ block.super }}
<script type="text/javascript">
    window.Chief.config = {
        csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    ko.applyBindings(new Chief.ViewModels.InitiateDeploy(), $('#deploy-modal')[0]);
</script>
{% endblock %}

{% block content %}
<img width="300" src="{% static 'chief/img/captain.png' %}" />
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <td>Environment</td>
            <td>Deploy</td>
            <td>Deploys in progress</td>
            <td>Current deploy</td>
            <td>Previous deploy</td>
        </tr>
    </thead>
{% for env, deploy_list in deploys.items %}
    <tr>
        <td>{{ env }}</td>
        <td>
            <button
              type="button"
              class="btn btn-default"
              data-environment="{{ env }}"
              data-toggle="modal"
              data-target="#deploy-modal">
                Deploy
            </button>
        </td>
        <td>{{ deploy_list|length }}</td>
        <td>
            <ul class="list-unstyled">
            {% for deploy in deploy_list %}
            <li>
            {{ deploy.user }} started deploying <code>{{ deploy.code_branch }}</code> {{ deploy.date_created|naturaltime }}
            </li>
            {% endfor %}
            </ul>
        </td>
        <td>
            {% if previous_deploys|keyvalue:env %}
                {% with previous_deploys|keyvalue:env as previous_deploy %}
                {% if previous_deploy.success %}
                <span class="label label-success">Success</span>
                {% else %}
                <span class="label label-danger">Failure</span>
                {% endif %}
                Last deployed <code>{{ previous_deploy.code_branch }}</code>
                {{ previous_deploy.date_created|naturaltime }}
                {% if previous_deploy.duration %}
                {% with previous_deploy.duration|div:60 as minutes %}
                in {{ minutes | floatformat:2 }} minutes
                {% endwith %}
                {% endif %}
                {% if previous_deploy.failure_reason %}
                <div>
                    <small>
                        {{ previous_deploy.failure_reason }}
                        <a
                            data-stacktrace="{{ previous_deploy.stacktrace|default:"No stacktrace available" }}"
                            data-toggle="modal"
                            data-target="#stacktrace-modal">
                            (view stacktrace)
                        </a>
                    </small>
                </div>
                {% endif %}
                {% endwith %}
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>

<div class="row">
    <div class="col-sm-12">
        <a href="http://hqcaptain0.internal.commcarehq.org:8080/" target="_blank">
            Tail log file
        </a>
    </div>
</div>

{% endblock %}
{% block modals %}{{ block.super }}

<!-- stack track modal -->
<div class="modal fade" id="stacktrace-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Stack Trace</span></h4>
            </div>
            <div class="modal-body">
                <samp class="small stacktrace"></samp>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- deploy modal -->
<div class="modal fade" id="deploy-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Deploy <span data-bind="text: env"></span></h4>
            </div>
            <div class="modal-body">
                <!-- ko if: env() === 'staging' -->
                <div class="alert alert-info" role="alert">
                    <strong>Heads up!</strong> Captain won't rebuild staging for you, you need to push the
                    branch to <code>origin</code> first using <code>scripts/rebuildstaging</code>
                </div>
                <!-- /ko -->
                <form id="deploy-form" class="form-horizontal" method="POST" action={% url 'chief_deploy' %}>
                    {% csrf_token %}
                    <input type="hidden" name="env" data-bind="value: env" />
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="deploy-user">Name</label>
                        <div class="col-sm-8">
                            <input
                                type="text"
                                name="deploy_user"
                                class="form-control"/>
                            <small class="help-block">
                                This is just for audit purposes, doesn't need to be your dimagi name
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="env-code-branch">Branch to deploy</label>
                        <div class="col-sm-8">
                            <input
                                type="text"
                                name="code_branch"
                                class="form-control"
                                data-bind="value: defaultBranch()"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: initiateDeploy">Initiate Deploy</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
