{% extends "chief/base.html" %}
{% load staticfiles %}


{% block js %}{{ block.super }}
<script src="{% static 'chief/js/chief.js' %}"></script>
{% endblock %}

{% block js-inline %}{{ block.super }}
<script type="text/javascript">
    window.Chief.config = {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        logFileUrl: "{% url 'deploy_log_file' %}",
    };

    ko.applyBindings(new Chief.ViewModels.InitiateDeploy(), $('#deploy-modal')[0]);
    ko.applyBindings(new Chief.ViewModels.LogFile(), $('#log-file-modal')[0]);
</script>
{% endblock %}

{% block content %}
<h1>Captain</h1>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <td>Environment</td>
            <td>Deploys in progress</td>
        </tr>
    </thead>
{% for env, deploy_list in deploys.items %}
    <tr>
        <td>{{ env }}</td>
        <td>{{ deploy_list|length }}</td>
    </tr>
{% endfor %}
</table>

<div class="row">
    <div class="col-sm-12">
        <a
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#log-file-modal"
            data-deploy-id="{{ deploy.id }}">
            View log file
        </a>
    </div>
</div>

<div id="deploys" data-bind="foreach { data: environment }">
    <form>
      {% for env in environments %}
      <div class="form-group">
        <button
          type="button"
          data-environment="{{ env }}"
          data-toggle="modal"
          data-target="#deploy-modal">
            Deploy {{ env }}
        </button>
      </div>
    </form>
    {% endfor %}
</div>

{% endblock %}
{% block modals %}{{ block.super }}
<!-- deploy modal -->
<div class="modal fade" id="deploy-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Let's do this</h4>
            </div>
            <div class="modal-body">
                <form id="deploy-form" class="form-horizontal" method="POST" action={% url 'chief_deploy' %}>
                    {% csrf_token %}
                    <input type="hidden" name="env" data-bind="value: env" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: initiateDeploy">Initiate Deploy</button>
            </div>
        </div>
    </div>
</div>

<!-- log file modal -->
<div class="modal fade" id="log-file-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Logfile</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: refreshLogFile">Refresh</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
