{% extends "chief/base.html" %}
{% load staticfiles %}


{% block report-title %}
HQ Chief
{% endblock %}

{% block js %}{{ block.super }}
<script src="{% static 'chief/js/chief.js' %}"></script>
{% endblock %}

{% block js-inline %}{{ block.super }}
<script type="text/javascript">
    window.Chief.config = {
        csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    ko.applyBindings(new Chief.ViewModels.InitiateDeploy(), $('#deploy-modal')[0]);
    ko.applyBindings(new Chief.ViewModels.PreviousReleases(), $('#previous-releases')[0]);
</script>
{% endblock %}

{% block content %}
<div>
    <img src="{% static 'chief/img/hq_chief.png' %}" width="300" alt="chief logo" />
</div>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <td>Environment</td>
            <td>Deploys in progress</td>
        </tr>
    </thead>
{% for env, deploy_list in deploys.items %}
    <tr>
        <td>{{ env }}</td>
        <td>{{ deploy_list|length }}</td>
    </tr>
{% endfor %}
</table>
<div id="deploys" data-bind="foreach { data: environment }">
    <form>
      {% for env in environments %}
      <div class="form-group">
        <button
          type="button"
          class="btn btn-primary"
          data-environment="{{ env }}"
          data-toggle="modal"
          data-target="#deploy-modal">
            Deploy {{ env }}
        </button>
      </div>
    </form>
    {% endfor %}
</div>


<h3>Previous Releases</h3>
<div data-bind="foreach: { data: environments, as: 'environment' }" id="previous-releases">
    <div class="previous-release-table">
        <h5 data-bind="text: environment"></h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Path</th>
                    <th>Rollback</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: $root.releases()[environment]">
                <tr>
                    <td data-bind="text: $data.date"></td>
                    <td data-bind="text: $data.path"></td>
                    <!-- ko if: $index() === 0 -->
                    <td>Current Release</td>
                    <!-- /ko -->
                    <!-- ko if: $index() > 0 -->
                    <td><a>Rollback</a></td>
                    <!-- /ko -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block modals %}{{ block.super }}
<!-- deploy modal -->
<div class="modal fade" id="deploy-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Let's do this</h4>
            </div>
            <div class="modal-body">
                <form id="deploy-form" class="form-horizontal" method="POST" action={% url 'chief_deploy' %}>
                    {% csrf_token %}
                    <input type="hidden" name="env" data-bind="value: env" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: initiateDeploy">Initiate Deploy</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
